<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=], initial-scale=1.0">
    <link rel="stylesheet" href="public/info.css">
    <title>Info Carro</title>
</head>
<body>
    <header class="cabecalho">
        <img class="logo" src="public/assets/logo.png" alt="logo" width="120px">
        <input type="checkbox" id="menu" class="container__botao">
        <label for="menu">
        <img  class="hamburguer" style="width:50px" src="public/assets/menuhamburguer.png" alt="hamburguer">
        </label>
        <ul class="cabecalho__menu">
            <li class="cabecalho__links"><a class="cabecalho__menu__links" href="index">HOME</a></li>
            <li class="cabecalho__links"><a class="cabecalho__menu__links">DOWLOAD CATÁLOGO</a></li>
            <li class="cabecalho__links"><a class="cabecalho__menu__links" href="cadastro">CADASTRO</a></li>
        </ul>
        <div class="barra__pesquisa">
            <form action="/info" method="get">
              <div class="input-group">
                <input type="text" name="searchTerm" id="textBusca" placeholder="Buscar...">
                <button type="submit" class="btn" style="background-image: url("public/assets/researchicon.png"></button>
              </div>
            </form>
          </div>
    </header>
    <main>
        <div class="centro__info">
            <img src="/imagens/<%= carro.imagem %>">
            <div class="centro__texto">
                <h1><%= carro.getMarca() %><h1>    
            </div>
        </div>
        <section class="espaco" style="height: 50px;"></section>
        <section style="height: 50px;"></section>
        <div class="barra_de_detalhes">
            <div class="bloco">
                <h4 class="texto__rapido1">Marca</h4>  <h3 class="texto__rapido2"><%= carro.getMarca() %></h3>
                
            </div>
            <section class="linha" style="width: 3px; height: 50px;"></section>
            <div class="bloco">
                <h4 class="texto__rapido1">Preço</h4> <h3 class="texto__rapido2"><%= carro.getPreco() %></h3>
            </div>
            <section class="linha" style="width: 3px; height: 50px;"></section>
            <div class="bloco">
                <h4 class="texto__rapido1">Local</h4> <h3 class="texto__rapido2"><%= carro.getLocalizacao() %></h3>
            </div>
        </div>
        <section style="height: 200px;"></section>
        <div class="main__text">
         
            <ul  class="main__paragraphs">
               
                <p><%= carro.getDescricao() %></p>
            </ul>
          
            <P class="main__paragraphs">
                Curabitur et ante sodales, dapibus dolor vel, rhoncus lectus. Pellentesque ultrices ligula non sollicitudin elementum. Nullam lobortis hendrerit nunc ut euismod. Integer dapibus magna quis massa aliquet, quis venenatis libero tempor. Donec auctor varius ligula, nec pretium felis tempus id. Nullam vel lacus velit. Cras a mi vitae eros dapibus maximus eu et elit. Sed scelerisque blandit ante, vel ornare nisi semper non. Vestibulum sit amet aliquet sem. Duis nec tortor ultrices, pellentesque justo aliquet, sodales lacus. In accumsan nec sapien sed pellentesque.
            </P>
            <P class="main__paragraphs">
                Phasellus efficitur eget metus sit amet placerat. Nullam commodo non urna id varius. Phasellus ut mauris odio. Aenean tincidunt aliquet lorem. Proin vel accumsan nisi. Etiam porttitor suscipit arcu. Donec a blandit enim, sed condimentum dolor. Nunc volutpat nisl id lacus pretium, et elementum tellus maximus. Quisque laoreet felis a ligula vehicula, ac auctor massa auctor. Pellentesque dui augue, rutrum eget luctus eu, vehicula id lorem. Nullam in nibh diam. Aenean maximus magna erat, in sollicitudin magna mattis a. Pellentesque elementum nec ligula nec vestibulum. Praesent in lorem sollicitudin, maximus urna at, lobortis enim. Aliquam molestie est eget euismod cursus. Nam sodales ut neque sit amet feugiat.
            </P>
            <P class="main__paragraphs">
                Nullam quis fringilla dui. Curabitur vestibulum, metus quis interdum pulvinar, dui sem tristique est, in bibendum dolor massa et ex. Duis dapibus consequat eros, nec gravida ipsum sagittis eget. Nullam gravida malesuada augue ac lacinia. Quisque pretium euismod commodo. Sed sodales gravida magna quis molestie. Sed nec tempor libero, vel iaculis velit. Nullam eget blandit turpis. Nulla non volutpat urna, id efficitur leo. Pellentesque in blandit lorem. Morbi pretium purus id sapien commodo, eu dictum turpis pharetra.
            </P>
            <P class="main__paragraphs">
                Sed facilisis nisi ac dolor gravida consequat. Vestibulum sodales consectetur risus at vestibulum. In rhoncus, augue vel eleifend mattis, neque justo varius metus, eu fermentum ante turpis quis erat. Sed sapien risus, ultricies et gravida et, feugiat id tellus. Cras sit amet consectetur risus. Aliquam placerat ipsum in ultrices sollicitudin. Nullam pellentesque, libero rhoncus maximus mattis, lorem diam porttitor lectus, pulvinar rhoncus metus purus a nulla. Nulla facilisi. Morbi a est eget ligula auctor posuere. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla facilisi. Proin sed varius felis, sed blandit velit. Donec iaculis erat nulla, et semper justo commodo accumsan. Praesent ligula ante, molestie id cursus eleifend, rutrum ac dolor.
            </P>
        </div>
        <section style="height: 200px;"></section>
        <div class="caixa__whatsapp">
            <a class="whatsapp" href="https//wa.me/seunumerodetelefone%22%3E">
                <div class="interior__whatsapp">
                    Enviar Proposta
                </div>
            </a>
        </div>
        <div class="caixa__whatsapp__icone">
            <a class="whatsapp" href="https//wa.me/seunumerodetelefone%22%3E">
                <div class="interior__whatsapp">
                    <img class="icone__whatsapp" src="public/assets/whatsapplogopreto.png" alt="">
                </div>
            </a>
        </div>
        <section style="height: 200px;"></section>
    </main>
    <footer class="rodape">
        <div>
            <p class="rodape__titulo">REDES SOCIAIS</p>
            <a class="rodape__redes" href="https://www.instagram.com/">
            <img src="public/assets/instagramlogo.png" alt="instagramlogo" width="27px"> Instagram
            </a>
            <a class="rodape__redes" href="https://twitter.com/home?lang=pt">
            <img src="public/assets/twitterlogo.png" alt="twitterlogo" width="27px"> Twitter
            </a>
            <a class="rodape__redes" href="https://www.tiktok.com/pt-BR"> <img class="rodape__redes__imagem" alt="tiktoklogo" src="public/assets/tiktoklogo.png" width="27px"> Tiktok
            </a>
        </div>
    </footer>
</body>
</html>


<script>
    let prevScrollpos = window.pageYOffset;

window.onscroll = function() {
